@charset "UTF-8";
/* CSS Document */

button {
	border-style:solid;
	border-color:#00aced;
	background-color:white;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	color:#00aced;
	font-size:18px;
	text-align:center;
	padding-left: 3%;
	padding-right:3%;
	
		
}

html {
	background-image:url(Images/cyber%20burger.png);
	background-repeat: no-repeat;
}

 
article {
	display:block;
	text-align:left;
	background-color: #FFFFFF;
}
header {
	background-color:#000000;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	font-size:60px;
	text-align:center;
	color: white;
}

.particlea, .particleb, .articlea, .articleb{
	width: 48.5%;
	margin: 1%;
}

.carticlea{
	float:right;
	
}

.particlea, .particleb {
	float: right;
}

.omj{
	float:right;
	width: 5%;
	margin:1.5%;
	padding-top:3%;
}
.articleb, .particleb{
	display: inline-block;
}
